.App {
  width: 100vw;
  background-color: lavender;
  height: 100vh;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  overflow: hidden;
}
