.color-section {
  position: absolute;
  right: calc(50%);
  width: max-content;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.add-event-container {
  display: flex;
  background-color: #e6e6fa;
  flex-direction: column;
  width: 100%;
  padding: 20px 30px 20px 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.add-event-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-event-title {
  font-size: 42px;
  font-weight: 600;
}

.add-event-close-icon {
  width: 36px;
  height: 36px;
}

.add-event-close-icon:hover {
  cursor: pointer;
}

.add-event-form {
  margin-top: 10px;
}
