.category-view-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 0px 0px 10px;
  overflow: hidden;
}

.category-title {
  font-size: 64px;
  font-weight: 600;
}

.category-divider {
  padding-right: 50px;
}

.category-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
}

.category-empty-content {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: gray;
  font-weight: 450;
  margin-top: 25%;
}

.category-bubble-card {
  width: 90%;
  height: 25%;
  margin: 10px 50px 10px 0px;
  border-radius: 20px;
  display: flex;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.category-bubble-card:hover {
    cursor: pointer;
}

.category-bubble-info-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 25px;
}

.category-bubble-title {
  font-size: 40px;
  font-weight: 500;
}

.category-bubble-date-column {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-bubble-date-container {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-bubble-date-text-top {
  font-size: 40px;
  font-weight: 450;
}

.category-bubble-date-text-bottom {
  font-size: 24px;
  font-weight: 450;
}
