.dashboard-view-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  margin: 25px 0px 0px 10px;
}

.intro-container {
  width: 100%;
}

.intro-text {
  font-size: 64px;
  font-weight: 500;
}

.statistics-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 80px 10px 0px 10px;
}

.stat-container {
  width: 25%;
  height: 200px;
  display: flex;
  padding: 20px 30px 20px 30px;
  background-color: #f3f2f4;
  border-radius: 10px;
  margin-right: 20px;
}

.stat-icon-container {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-icon {
  width: 128px;
  height: 128px;
}

.stat-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat-text {
  font-size: 36px;
  font-weight: 500;
}

.event-carousel {
  width: 100%;
  padding: 0px 10px 10px 10px;
}

.carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 10px 80px 10px;
}

.carousel {
  width: 75%;
}

.carousel-slide {
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 0px 5px 0px 5px;
}

.carousel-image-container {
  margin-top: 5%;
}

.carousel-title {
  margin-top: 20%;
  font-size: 40px;
}

.view-all-button {
  margin-top: 20%;
  width: 50%;
}

.view-all-button:hover {
  cursor: pointer;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.no-category {
  font-size: 32px;
  margin-bottom: 10%;
  color: gray;
}
