.event-subview-container {
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary-statistics-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-top: 10%;
}

.event-subview-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.event-subview-title {
  font-size: 40px;
  font-weight: 600;
}

.notes-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.notes {
  padding: 1rem;
  width: 100%;
}
.clear-button {
  background-color: white;
  border-radius: 3rem;
  width: 90%;
  height: 5rem;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.clear-button:hover {
  cursor: pointer;
  border: 2px solid indigo;
}

.summary-stat-container {
  width: fit-content;
  display: flex;
  padding: 20px 30px 20px 30px;
  background-color: #f3f2f4;
  border-radius: 10px;
  margin-right: 20px;
}

.summary-stat-icon-container {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-stat-icon {
  width: 48px;
  height: 48px;
}

.summary-stat-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.summary-stat-text {
  font-size: 24px;
  font-weight: 500;
}
