.landing {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.landing__title-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__title {
  font-size: 96px;
  font-weight: 600;
}

.landing__login-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.landing__login-error-container {
  position: absolute;
  z-index: 1;
  top: 25px;
}
