.layout-main-container {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 10rem auto 30rem;
}

.layout-navbar {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
}

.navbar-button {
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  margin-left: 1rem;
}

.navbar-button:enabled:hover {
  cursor: pointer;
  background: #e6e6e6;
  border: none;
}

.account-icon {
  width: 100%;
  height: 100%;
}

.settings-icon {
  width: 100%;
  height: 100%;
}
.layout-main-view {
  width: 100%;
  margin: 10px;
}

.layout-sub-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f9f8fd;
  border-radius: 10px;
}

.layout-calendar {
  display: flex;
  flex: 2;
  justify-content: center;
  padding: 20px 0px 20px 0px;
  position: relative;
}

.layout-calendar-disabled {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.calendar {
  height: min-content;
  width: 100%;
  font-family: system-ui;
  border-radius: 20px;
}

.layout-sub-view {
  display: flex;
  flex: 5;
}

/* Edit Calendar Styles */

button.react-calendar__tile--now {
  background: lavender;
}

button.react-calendar__tile--now:enabled:hover {
  background: #e6e6e6;
}

button.react-calendar__tile--active {
  background: #006edc;
}
