.time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-container {
  padding: 1rem;
}
.break-time-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-around;
}

.submit-button {
  border-radius: 1rem;
  width: 6rem;
  height: 2rem;
  border: none;
}
