.settings-view-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 0px 0px 10px;
}

.settings-title {
  font-size: 30px;
  font-weight: 600;
}

.settings-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
