.study-bubble-view-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.study-bubble-header {
  justify-content: center;
  width: 100%;
  display: flex;
  flex: 1 1;
  font-size: 5vw;
  font-weight: lighter;
  align-items: center;
}

.both-card-container {
  flex: 5 1;
  align-self: center;
  width: 90%;
  max-height: 50vh;
  overflow: scroll;
}

.card-container {
  align-self: center;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.add-card-container {
  width: 100%;
  display: flex;
  flex: 1;
}

.add-card-button {
  height: 5rem;
  display: flex;
  border-radius: 2rem;
  font-size: 50px;
  align-items: center;
  width: 95%;
  align-self: center;
  justify-content: center;
  border: none;
}
.add-card-button:hover {
  cursor: pointer;
  border: 3px solid gray;
}
