.tasklist-view {
  width: 100%;
  height: 100%;
  padding: 20px 30px 20px 30px;
}
.tasklist-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 75%;
  width: 100%;
}
.tasklist-list {
  padding: 0.4rem;
  height: 15rem;
  overflow: scroll;
  width: 100%;
}

.new-task {
  width: 100%;
}
.enter-button {
  background-color: white;
  border-radius: 3rem;
  width: 100%;
  height: 5rem;
  text-align: center;
}

.enter-button:hover {
  cursor: pointer;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.tasklist-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasklist-title {
  font-size: 42px;
  font-weight: 600;
}

.tasklist-close-icon {
  width: 36px;
  height: 36px;
}

.tasklist-close-icon:hover {
  cursor: pointer;
}
