.timer-container {
  background-color: white;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.timer {
  width: 100%;
  display: flex;
  height: 12%;
  justify-content: center;
  align-items: center;
}

.overtime {
  color: red;
  width: 100%;
  display: flex;
  height: 12%;
  justify-content: center;
  align-items: center;
}

.digits {
  font-size: 3rem;
  color: black;
}

.millisec {
  width: 25px;
  margin-top: 0.8rem;
  font-size: 2rem;
  color: black;
}
.control-container {
  padding: 1rem;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button {
  width: 3rem;
}

.end-modal-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
