.upcoming-event-container {
  display: flex;
  background-color: #e6e6fa;
  flex-direction: column;
  width: 100%;
  padding: 20px 30px 20px 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.upcoming-event-title {
  font-size: 42px;
  font-weight: 600;
}

.upcoming-none-today-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.upcoming-none-text {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  margin-top: 15%;
  margin-bottom: 15%;
}

.upcoming-event-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcoming-event-empty {
  font-size: 24px;
  font-weight: 500;
  margin-top: 25%;
}

.event-card-container {
  width: 100%;
  height: 75px;
  background-color: white;
  border-radius: 15px;
  margin: 5px 0px 5px 0px;
  display: flex;
  align-items: center;
}

.event-card-container:hover {
  cursor: pointer;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.event-date-container {
  width: 55px;
  height: 55px;
  border-radius: 15px;
  background-color: #e84395;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.event-date-text {
  color: white;
}

.event-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.event-text-title {
  font-size: 24px;
}

.event-time-duration {
  font-size: 14px;
  margin-top: 2px;
  display: flex;
}

.event-divider {
  margin: 0px 5px 0px 5px;
}

.event-actions-container {
  margin-right: 10px;
  display: flex;
}

.event-actions-icon {
  width: 28px;
  height: 28px;
  padding-left: 5px;
}

.event-actions-icon:hover {
  cursor: pointer;
}
