.user-view-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 0px 0px 10px;
}

.user-title {
  font-size: 64px;
  font-weight: 600;
}

.user-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
}

.user-content-text {
  font-size: 56px;
  display: flex;
  margin-top: 10%;
}

.user-content-text-name {
  font-weight: 450;
  margin-left: 10px;
}

.user-logout-text {
  font-size: 40px;
  margin-top: 25%;
}

.user-logout-button {
  margin-top: 5%;
}
